@font-face {
  font-family: 'SkodaProBold';
    src: url('../fonts/skoda/SkodaPro-Bold.eot') format('eot'),
         url('../fonts/skoda/SkodaPro-Bold.ttf')  format('truetype');
}

@font-face {
  font-family: 'SkodaProRegular';
    src: url('../fonts/skoda/SkodaPro_Regular.eot') format('eot'),
         url('../fonts/skoda/SkodaPro_Regular.ttf')  format('truetype');
}