// DEFAULT FORM STYLES
// =============================================================================

.form {
  margin-left: 1rem;
  margin-right: 1rem;

  .layout-row {
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    @include clearfix;

    &:not(:last-of-type) {
      border-bottom: 1px solid grey;
    }
  }
}

// SLIDER
// =============================================================================

.slider {
  .ng-binding {
    float: right;
  }

  &.layout-row {
    padding-bottom: 0;
  }

  span {
    font-size: rem(14px);
  }
}

.ng-isolate-scope {
  position: relative;
  display: block;
  width: calc(100% - 20px);
  height: 50px;
  padding-left: 0 !important;
  margin: 0 10px;
}

.ng-isolate-scope:focus {
  outline: none;
}

.md-slider-wrapper {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.md-track, .md-thumb-container, .md-thumb {
  position: absolute;
}

.md-track {
  top: 0;
  left: 0;
  width: 100%;
}

.md-track-container {
  position: relative;
  width: calc(100% + 20px);
  left: -10px;
  top: 15px;
  overflow: hidden;
}

.md-thumb-container {
  top: 0;
  left: 0;
}

.md-thumb {
  top: 7px;
  left: -10px;
  width: 20px;
  height: 20px;
}

.md-track, .md-track-container {
  height: 5px;
}

.md-track, .md-thumb-container {
  background: grey;
}

.md-track-fill, .md-thumb {
  background: red;
}

.md-thumb-text {
  display: none;
}


// FIELDSET STYLE
// =============================================================================

fieldset.contact-fieldset {
  margin-top: 1rem;
  padding: 2.5rem 0 1.5rem;

  span {
    font-size: rem(14px);
  }
}



// DEFAULT STYLES FOR LEASINGFORM
// =============================================================================

.zins {
  font-size: rem(14px);
  float: left;
  margin-right: 10px;
}

.total-wrapper {
  margin-bottom: 1.5rem;
  @include clearfix;
}

.total {
  float: left;
}

.total-value {
  float: right;
  font-size: rem(18px);
  color: red;
}
