footer {
  .social-media > div{
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &:after {
    @include clearfix;
  }

  .copyright {
    font-size: 0.75rem;
  }
}
