.variant-button, .back-button {
  text-transform: uppercase;
}

.variant-button {
  @include button($bg:$button,$font-size:15,$color:$white,$padding:16px 20px,$border-radius:3px,$display:table);
  margin: 15px auto 30px;
}

.back-button {
  @include button($color:$button,$font-size:15,$display:block);
  margin: 0 0 0 1rem;
}

.ctas .md-button {
  // @include fontbold;
  @include button($color:$black,$font-size:22,$padding:10px 0,$display:block);
  margin: 0 1rem;
}