footer {
  background-color: $footer-background;
  color: $footer-text;
    .social-media {
    padding-bottom: 1rem;
    div{
      height: 2rem;
      @include span(1 of 4 inside nogutter);
      &.twitter, &.newsletter{
        display: none;
      }
    }
  }
  .facebook {
    background: url(../img/seat/facebook.svg) center center;
  }
  .google{
    background: url(../img/seat/google.svg) center center;
  }
  .instagram {
    background: url(../img/seat/facebook.svg) center center;
  }
  .youtube{
    background: url(../img/seat/google.svg) center center;
  }
}
