.slider {
  .ng-binding {
    @include fontbold;
    font-size: rem(15px);
  }
}

.ng-isolate-scope {
  height: 60px;
}

.md-track, .md-thumb-container {
  background: $slider-bg;
}

.md-track, .md-track-container {
  height: 15px;
}

.md-track-fill, .md-thumb {
  background: $seat-red;
  border-radius: 7.5px;
}

.md-track-fill {
  &:after {
    content: "";
    display: block;
    position: relative;
    right: -10px;
    float: right;
    width: 20px;
    height: 15px;
    background: $seat-red;
    border-radius: 7.5px;
  }
}

.md-thumb {
  top: 21px;
  width: 15px;
  height: 15px;
  border-radius: 50%;

  &:after {
    content: "";
    display: block;
    position: relative;
    top: 4px;
    left: 4px;
    width: 7px;
    height: 7px;
    background: $slider-bg;
    border-radius: 50%;
  }
}

.md-track-container {
  border-radius: 7.5px;
}

.total-value {
  @include fontbold;
  color: $seat-red;
}

.form {
  .layout-row {
    border-color: $form-line !important;
  }
}

.form h1 {
  @include fontlight;
  font-size: rem(27px);
  text-transform: uppercase;
  color: $text;
  padding-bottom: 1.5rem;
  margin-top: 1.5rem;
  border-bottom: 1px solid $form-line;
}

// TEXT INPUT
// =============================================================================
input[type=text] {
    border: 1px solid $grey;
    .md-input-focused & {
      border-color: $seat-red;
    }
  }

// CHECKBOX
// =============================================================================
md-checkbox .md-label {
  &:before {
    border: 1px solid $grey;
  }
}
md-checkbox[aria-checked="true"] .md-label {
  &:before {
    background-color: $seat-red;
  }
  &:after {
    border: 3px solid $white;
    border-top: none;
    border-right: none;
  }
}

// RADIO BUTTON
// =============================================================================
md-radio-button .md-label {
  &:before {
    border: 1px solid $grey;
  }
}
md-radio-button[aria-checked="true"] .md-label {
  &:before {
    border: 5px solid $seat-black;
  }
}
md-radio-button[aria-disabled="true"] .md-label {
  &:before {
    border: 1px solid $lighter-grey;
  }
}
