.car-image {
  position: relative;

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 101%;
    height: 10vw;
    bottom: -5vw;
    background: $white;
    left: 0;
    transform: rotate(-5deg);
  }
}

.image-area-top h1, .image-area-top h3{
  color: $seat-black;
}

.landing-page-form {
  margin-left: 1rem;
  margin-right: 1rem;
}
