.back-button, .variant-button {
  color: $skoda-green;
}

.back-button-wrapper {
  margin: 1rem 1rem 1.5rem;
}

.back-button {
  @include arrowLeft;
  background-image: url(../img/skoda/arrow.svg);
  text-transform: uppercase;
}

.variant-button-wrapper {
  text-align: center;
}

.variant-button {
  @include fontbold;
  @include arrowRight;
  background-image: url(../img/skoda/arrow-right.svg);
  margin: 2.5rem auto 2rem;
}

.leasing-button, .testdrive-button, .catalog-button {
  @include button($bg:$black,$color:$white,$padding:1rem 4rem 1rem 1.5rem,$display:block,$max-width:400px,$margin:.2rem auto);
  &:after {
    content: '';
    position: absolute;
    @include iconRight;
    top: 0;
    bottom: 0;
    right: 1rem;
    width: 2rem;
  }
}

.leasing-button:after {
  background-image: url(../img/skoda/leasing.svg);
}

.testdrive-button:after {
  background-image: url(../img/skoda/testdrive.png);
}

.catalog-button:after {
  background-image: url(../img/skoda/catalog.png);
}
