footer {
  .language, .legal, .copyright {
    background-color: $footer-background;
    padding: 1rem;
  }

  a{
    color: $footer-text;
  }

  //social media styles
  .social-media {
    @include clearfix;
    margin: 0 1rem;
    border-top: 1px solid $lighter-grey;
    padding: 1.5rem 0;
    div{
      height: 2.5rem;
      @include span(1 of 3 inside nogutter);
      &.google, &.instagram, &.twitter {
        display: none;
      }
    }
  }
  .facebook {
    background: url(../img/skoda/facebook.png) center center;
  }
  .youtube{
    background: url(../img/skoda/youtube.png) center center;
  }
  .newsletter {
    background: url(../img/skoda/newsletter.png) center center;
  }

  .legal > div{
    @include arrowLeft;
    background-image: url(../img/skoda/arrow-right-single.svg);
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $grey;
  }
}
