.slider {
  .ng-binding {
    @include fontbold;
    font-size: rem(15px);
  }
}

.md-track, .md-thumb-container {
  background: $light-grey;
}

.md-track-fill, .md-thumb {
  background: $skoda-green;
}

.md-thumb {
  border-radius: 50%;
}

.md-track-container {
  border-radius: 4px;
}

.total-value {
  @include fontbold;
  color: $skoda-green;
}

.form {
  .layout-row {
    border-color: $white !important;
  }
}

// TEXT INPUT
// =============================================================================
input[type=text] {
    border: 1px solid $grey;
    .md-input-focused & {
      border-color: $skoda-green;
    }
  }

// CHECKBOX
// =============================================================================
md-checkbox .md-label {
  &:before {
    border: 1px solid $grey;
  }
}
md-checkbox[aria-checked="true"] .md-label {
  &:before {
    border: 1px solid $grey;
  }
  &:after {
    border: 3px solid $skoda-green;
    border-top: none;
    border-right: none;
  }
}

// RADIO BUTTON
// =============================================================================
md-radio-button .md-label {
  &:before {
    border: 1px solid $grey;
  }
}
md-radio-button[aria-checked="true"] .md-label {
  &:before {
    background-color: $skoda-green;
    border: 5px solid $white;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid $grey;
    border-radius: 50%;
  }
}
md-radio-button[aria-disabled="true"] .md-label {
  &:before {
    border: 1px solid $lighter-grey;
  }
}
