.form {
  .ng-binding {
    @include fontbold;
    font-size: rem(15px);
  }
}

.md-track, .md-thumb-container {
  background: $light-grey;
}

.md-track-fill, .md-thumb {
  background: $skoda-green;
}

.md-thumb {
  border-radius: 50%;
}

.md-track-container {
  border-radius: 4px;
}
