html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body, div, p {
  margin: 0;
  padding: 0; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

embed,
img,
object,
video {
  max-width: 100%;
  height: auto; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

body {
  margin: 0px; }

a {
  text-decoration: none; }

.error-text {
  color: #dd2c00; }

.error-select {
  color: #dd2c00;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 12px;
  line-height: 14px;
  -webkit-font-smoothing: antialiased; }

.error-input {
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto;
  border-bottom-color: #dd2c00;
  -webkit-border-bottom-left-radius: 0px;
          border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
          border-bottom-right-radius: 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: transparent;
  display: block;
  float: left;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  height: 30px;
  margin-bottom: 3px; }

md-checkbox.error-checkbox .md-icon {
  border-color: #dd2c00; }

md-radio-button.error-radio .md-off {
  border-color: #dd2c00; }

@media screen and (max-width: 368px) {
  .car-contact {
    height: auto;
    width: 100%; }
  md-checkbox.checkbox-inline .md-icon {
    margin-top: -35px; }
  md-checkbox.checkbox-inline .md-ripple-container {
    margin-top: -35px; } }

@media screen and (min-width: 369px) and (max-width: 700px) {
  .car-contact {
    height: auto;
    width: 100%; }
  md-checkbox.checkbox-inline .md-icon {
    margin-top: -25px; }
  md-checkbox.checkbox-inline .md-ripple-container {
    margin-top: -25px; } }

@media screen and (min-width: 701px) {
  .car-contact {
    height: auto;
    width: 500px; }
  md-checkbox.checkbox-inline .md-icon {
    margin-top: -25px; }
  md-checkbox.checkbox-inline .md-ripple-container {
    margin-top: -25px; } }

/* CI / CD colors*/
/* CI / CD secondary colors*/
/*General styles*/
/*Button styles*/
/*Footer styles*/
@font-face {
  font-family: 'VWHeadWebBold';
  src: url("../fonts/volkswagen/VWHeadWeb-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/volkswagen/VWHeadWeb-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/volkswagen/VWHeadWeb-Bold.woff2") format("woff2"), url("../fonts/volkswagen/VWHeadWeb-Bold.woff") format("woff"), url("../fonts/volkswagen/VWHeadWeb-Bold.ttf") format("truetype"), url("../fonts/volkswagen/VWHeadWeb-Bold.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'VWTextWebRegular';
  src: url("../fonts/volkswagen/VWTextWeb-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/volkswagen/VWTextWeb-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/volkswagen/VWTextWeb-Regular.woff2") format("woff2"), url("../fonts/volkswagen/VWTextWeb-Regular.woff") format("woff"), url("../fonts/volkswagen/VWTextWeb-Regular.ttf") format("truetype"), url("../fonts/volkswagen/VWTextWeb-Regular.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

body {
  font-family: 'VWTextWebRegular',Arial, Helvetica, sans-serif; }

.variant-button {
  color: #fff;
  background-color: #00b1eb;
  text-transform: uppercase; }

.image-area-top {
  margin: 2rem 1rem; }

h3 {
  font-family: 'VWHeadWebBold',Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1rem; }

.price {
  font-size: 1.3rem;
  margin-top: 1rem; }

.car-image {
  width: 100%; }
  .car-image img {
    width: 100%; }

/*# sourceMappingURL=map/volkswagen.css.map */
