.back-button-wrapper {
  margin: 1rem 1rem 1.5rem;
}
.back-button, .variant-button {
  color: $black;
  @include fontextendedbold;
}

.back-button {
  background: url(../img/audi/arrow.svg) left center no-repeat;
  background-size: 1rem;
  padding-left: 1.5rem;
}

.variant-button {
  background: url(../img/audi/arrow-right.svg) right center no-repeat;
  background-size: 1rem;
  padding-right: 1.5rem;
  margin: 1rem 1rem 3rem;
}

.ctas .leasing-button, .ctas .testdrive-button, .ctas .catalog-button {
  @include button($bg:$black,$color:$white,$padding:15px 5px,$display:block);
  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    background-size: 1.8rem;
  }
  &:before {
    width: 2rem;
    left: 1rem;
  }
  &:after {
    right: 1rem;
    width: 1rem;
    background: url(../img/audi/arrow-right.svg) left center no-repeat;
  }
  padding-left: 4rem;
  margin: 1rem;
}

.leasing-button:before {
  background: url(../img/audi/leasing.png) left center no-repeat;
}

.testdrive-button:before {
  background: url(../img/audi/testdrive.png) left center no-repeat;
}

.catalog-button:before {
  background: url(../img/audi/catalog.png) left center no-repeat;
}
