@font-face {
  font-family: 'AudiTypeExtendedBold';
  src: url('../fonts/audi/AudiType-ExtendedBold.woff')  format('woff'),
       url('../fonts/audi/AudiType-ExtendedBold.ttf')  format('truetype');
}

@font-face {
  font-family: 'AudiTypeExtendedNormal';
  src: url('../fonts/audi/AudiType-ExtendedNormal.woff')  format('woff'),
       url('../fonts/audi/AudiType-ExtendedNormal.ttf')  format('truetype');
}

@font-face {
  font-family: 'AudiTypeBold';
  src: url('../fonts/audi/AudiType-dBold.woff')  format('woff'),
       url('../fonts/audi/AudiType-dBold.ttf')  format('truetype');
}

@font-face {
  font-family: 'AudiTypeNormal';
  src: url('../fonts/audi/AudiType-Normal.woff')  format('woff'),
       url('../fonts/audi/AudiType-Normal.ttf')  format('truetype');
}